body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.searchbar {
  display: flex;
  margin: 10px;
}
input[type=text] {
  flex: 4;
}
input[type=submit] {
  flex: 1;
}
.dropzone {
  background-color: #9bda81;
  cursor: grab;
}
.dropzone div, .dropzone p {
  margin: 0;
  padding: 15px;
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #eceffc;
  padding: 10px;
}

.imageContainer {
  background-color: #d1d6ec;
  border-radius: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: #130a77;
  color: #130a77;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 6px;
}
.imageContainer img {
  width: 250px;
  margin: 10px;
}
.imageContainer p {
  display: inline-block;
  margin: 10px;
  font-size: 10px;
}
